<a href="https://colab.research.google.com/github/Ricardo-Jaramillo/PySpark/blob/main/07_Logistic_Regression_Titanic_example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Logistic Regression example

Now let's code a simple exercise with the Titanic csv. We're trying to predict whether a passenger would survived or not depending on the variables we have.

In [1]:
# Intall pyspark
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 3.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=0edca87616d224ffaed46a33c74638ed2c1815217cc54907c1cd7a06ba244da0
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [2]:
# Download the file
!wget https://raw.githubusercontent.com/Ricardo-Jaramillo/PySpark/main/datasets/titanic.csv

--2023-10-03 18:26:37--  https://raw.githubusercontent.com/Ricardo-Jaramillo/PySpark/main/datasets/titanic.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 60302 (59K) [text/plain]
Saving to: ‘titanic.csv’

titanic.csv         100%[===================>]  58.89K  --.-KB/s    in 0.002s

2023-10-03 18:26:37 (28.1 MB/s) - ‘titanic.csv’ saved [60302/60302]

In [3]:
# Import the necessary libraries
from pyspark.sql import SparkSession
from pyspark.ml.classification import LogisticRegression

In [4]:
# Create a session
spark = SparkSession.builder.appName('log_reg_titanic').getOrCreate()

In [6]:
# Read in the file
df = spark.read.csv('titanic.csv', header=True, inferSchema=True)

In [8]:
# Print the schema
df.printSchema()

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

In [9]:
# Show the data
df.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| NULL|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| NULL|       S|
|          6|       0|     3|    Moran, Mr. James|  male|NULL|    0|    0|          330877| 8.4583| NULL|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| NULL|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| NULL|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| NULL|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| NULL|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| NULL|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| NULL|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| NULL|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| NULL|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|NULL|    0|    0|          244373|   13.0| NULL|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| NULL|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|NULL|    0|    0|            2649|  7.225| NULL|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [11]:
# Print out the column names
df.columns

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

In [14]:
# Select usefull columns
my_cols = df.select(['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Cabin', 'Embarked'])

In [16]:
# Drop null values
my_final_data = my_cols.na.drop()
my_final_data.show()

+--------+------+------+----+-----+-----+--------+-----------+--------+
|Survived|Pclass|   Sex| Age|SibSp|Parch|    Fare|      Cabin|Embarked|
+--------+------+------+----+-----+-----+--------+-----------+--------+
|       1|     1|female|38.0|    1|    0| 71.2833|        C85|       C|
|       1|     1|female|35.0|    1|    0|    53.1|       C123|       S|
|       0|     1|  male|54.0|    0|    0| 51.8625|        E46|       S|
|       1|     3|female| 4.0|    1|    1|    16.7|         G6|       S|
|       1|     1|female|58.0|    0|    0|   26.55|       C103|       S|
|       1|     2|  male|34.0|    0|    0|    13.0|        D56|       S|
|       1|     1|  male|28.0|    0|    0|    35.5|         A6|       S|
|       0|     1|  male|19.0|    3|    2|   263.0|C23 C25 C27|       S|
|       1|     1|female|49.0|    1|    0| 76.7292|        D33|       C|
|       0|     1|  male|65.0|    0|    1| 61.9792|        B30|       C|
|       0|     1|  male|45.0|    1|    0|  83.475|        C83|       S|
|       1|     2|female|29.0|    0|    0|    10.5|        F33|       S|
|       0|     3|  male|25.0|    0|    0|    7.65|      F G73|       S|
|       1|     1|female|23.0|    3|    2|   263.0|C23 C25 C27|       S|
|       0|     1|  male|46.0|    1|    0|  61.175|        E31|       S|
|       0|     1|  male|71.0|    0|    0| 34.6542|         A5|       C|
|       1|     1|  male|23.0|    0|    1| 63.3583|    D10 D12|       C|
|       0|     1|  male|21.0|    0|    1| 77.2875|        D26|       S|
|       0|     1|  male|47.0|    0|    0|    52.0|       C110|       S|
|       0|     1|  male|24.0|    0|    1|247.5208|    B58 B60|       C|
+--------+------+------+----+-----+-----+--------+-----------+--------+
only showing top 20 rows

## Encode the lables

In [17]:
# Import functions
from pyspark.ml.feature import VectorAssembler, VectorIndexer, OneHotEncoder, StringIndexer

### Create indexed data (convert strings into numbers)

Let's do it for the Sex and Embark columns

In [22]:
# Create a SEX string indexer
gender_indexer = StringIndexer(inputCol='Sex', outputCol='SexIndex')

# Create a SEX oneHotEncoder
gender_encoder = OneHotEncoder(inputCol='SexIndex', outputCol='SexVec')

In [42]:
# Create an Embark string indexer
embark_indexer = StringIndexer(inputCol='Embarked', outputCol='EmbarkedIndex')

# Create a Embark oneHotEncoder
embark_encoder = OneHotEncoder(inputCol='EmbarkedIndex', outputCol='EmbarkedVec')

### Create an assembler
Save all variables in a single column 'features' with its own label

In [43]:
# Create the object assembler
assembler = VectorAssembler(inputCols=['Pclass', 'SexVec', 'EmbarkedVec', 'Age', 'SibSp', 'Parch', 'Fare'],
                            outputCol='features')

In [44]:
# Import the functions
from pyspark.ml.classification import LogisticRegression
from pyspark.ml import Pipeline

In [45]:
# Create the model
log_reg_titanic = LogisticRegression(featuresCol='features', labelCol='Survived')

### Pipeline

In [46]:
# Create the pipeline that contains all stages our data will go through until reach the logistic regression
pipeline = Pipeline(stages=[gender_indexer, embark_indexer, gender_encoder, embark_encoder, assembler, log_reg_titanic])

### Split into train and test data

In [47]:
# Split into train and test data
train_data, test_data = my_final_data.randomSplit([0.7, 0.3])
train_data.show()

+--------+------+------+----+-----+-----+--------+-----------+--------+
|Survived|Pclass|   Sex| Age|SibSp|Parch|    Fare|      Cabin|Embarked|
+--------+------+------+----+-----+-----+--------+-----------+--------+
|       0|     1|female| 2.0|    1|    2|  151.55|    C22 C26|       S|
|       0|     1|female|25.0|    1|    2|  151.55|    C22 C26|       S|
|       0|     1|female|50.0|    0|    0| 28.7125|        C49|       C|
|       0|     1|  male|19.0|    1|    0|    53.1|        D30|       S|
|       0|     1|  male|19.0|    3|    2|   263.0|C23 C25 C27|       S|
|       0|     1|  male|21.0|    0|    1| 77.2875|        D26|       S|
|       0|     1|  male|24.0|    0|    0|    79.2|        B86|       C|
|       0|     1|  male|24.0|    0|    1|247.5208|    B58 B60|       C|
|       0|     1|  male|27.0|    0|    2|   211.5|        C82|       C|
|       0|     1|  male|29.0|    0|    0|    30.0|         D6|       S|
|       0|     1|  male|29.0|    1|    0|    66.6|         C2|       S|
|       0|     1|  male|30.0|    0|    0|   27.75|       C111|       C|
|       0|     1|  male|31.0|    1|    0|    52.0|        B71|       S|
|       0|     1|  male|36.0|    1|    0|   78.85|        C46|       S|
|       0|     1|  male|37.0|    0|    1|    29.7|       C118|       C|
|       0|     1|  male|37.0|    1|    0|    53.1|       C123|       S|
|       0|     1|  male|38.0|    0|    1|153.4625|        C91|       S|
|       0|     1|  male|39.0|    0|    0|     0.0|        A36|       S|
|       0|     1|  male|44.0|    2|    0|    90.0|        C78|       Q|
|       0|     1|  male|45.0|    0|    0|   26.55|        B38|       S|
+--------+------+------+----+-----+-----+--------+-----------+--------+
only showing top 20 rows

In [48]:
# Fit the model with our predefined Pipeline
fit_model = pipeline.fit(train_data)

## Predict and Evaluate

In [49]:
# Test our results
results = fit_model.transform(test_data)

In [50]:
# Import our function to evaluate the model
from pyspark.ml.evaluation import BinaryClassificationEvaluator

In [51]:
# Create our evaluatior object
my_eval = BinaryClassificationEvaluator(rawPredictionCol='prediction', labelCol='Survived')

In [53]:
# Print out the whole results
results.show()

+--------+------+------+----+-----+-----+--------+-----------+--------+--------+-------------+-------------+-------------+--------------------+--------------------+--------------------+----------+
|Survived|Pclass|   Sex| Age|SibSp|Parch|    Fare|      Cabin|Embarked|SexIndex|EmbarkedIndex|       SexVec|  EmbarkedVec|            features|       rawPrediction|         probability|prediction|
+--------+------+------+----+-----+-----+--------+-----------+--------+--------+-------------+-------------+-------------+--------------------+--------------------+--------------------+----------+
|       0|     1|  male|18.0|    1|    0|   108.9|        C65|       C|     0.0|          1.0|(1,[0],[1.0])|(2,[1],[1.0])|[1.0,1.0,0.0,1.0,...|[-1.2570932630573...|[0.22147467660908...|       1.0|
|       0|     1|  male|31.0|    0|    0| 50.4958|        A24|       S|     0.0|          0.0|(1,[0],[1.0])|(2,[0],[1.0])|[1.0,1.0,1.0,0.0,...|[-0.1689484726968...|[0.45786306245347...|       1.0|
|       0|     1|  male|33.0|    0|    0|     5.0|B51 B53 B55|       S|     0.0|          0.0|(1,[0],[1.0])|(2,[0],[1.0])|[1.0,1.0,1.0,0.0,...|[-0.0335805624284...|[0.49160564820522...|       1.0|
|       0|     1|  male|36.0|    0|    0|  40.125|        A10|       C|     0.0|          1.0|(1,[0],[1.0])|(2,[1],[1.0])|[1.0,1.0,0.0,1.0,...|[-0.3953893926166...|[0.40242059015756...|       1.0|
|       0|     1|  male|40.0|    0|    0|     0.0|        B94|       S|     0.0|          0.0|(1,[0],[1.0])|(2,[0],[1.0])|(8,[0,1,2,4],[1.0...|[0.18657843285957...|[0.54650976350025...|       0.0|
|       0|     1|  male|45.0|    1|    0|  83.475|        C83|       S|     0.0|          0.0|(1,[0],[1.0])|(2,[0],[1.0])|[1.0,1.0,1.0,0.0,...|[-0.0029345447572...|[0.49926636433715...|       1.0|
|       0|     1|  male|46.0|    1|    0|  61.175|        E31|       S|     0.0|          0.0|(1,[0],[1.0])|(2,[0],[1.0])|[1.0,1.0,1.0,0.0,...|[0.06401287152661...|[0.51599775549083...|       0.0|
|       0|     1|  male|47.0|    0|    0|    38.5|        E63|       S|     0.0|          0.0|(1,[0],[1.0])|(2,[0],[1.0])|[1.0,1.0,1.0,0.0,...|[0.33520485393566...|[0.58302525643422...|       0.0|
|       0|     1|  male|47.0|    0|    0|    52.0|       C110|       S|     0.0|          0.0|(1,[0],[1.0])|(2,[0],[1.0])|[1.0,1.0,1.0,0.0,...|[0.31300508952508...|[0.57761859940969...|       0.0|
|       0|     1|  male|50.0|    1|    0|    55.9|        E44|       S|     0.0|          0.0|(1,[0],[1.0])|(2,[0],[1.0])|[1.0,1.0,1.0,0.0,...|[0.19379400124302...|[0.54829743949071...|       0.0|
|       0|     1|  male|50.0|    1|    0| 106.425|        C86|       C|     0.0|          1.0|(1,[0],[1.0])|(2,[1],[1.0])|[1.0,1.0,0.0,1.0,...|[-0.2841690876380...|[0.42943196643056...|       1.0|
|       0|     1|  male|54.0|    0|    0| 51.8625|        E46|       S|     0.0|          0.0|(1,[0],[1.0])|(2,[0],[1.0])|[1.0,1.0,1.0,0.0,...|[0.52516805855776...|[0.62835543499679...|       0.0|
|       0|     1|  male|55.0|    0|    0|    30.5|        C30|       S|     0.0|          0.0|(1,[0],[1.0])|(2,[0],[1.0])|[1.0,1.0,1.0,0.0,...|[0.59057382453536...|[0.64349679685427...|       0.0|
|       0|     1|  male|58.0|    0|    0|    29.7|        B37|       C|     0.0|          1.0|(1,[0],[1.0])|(2,[1],[1.0])|[1.0,1.0,0.0,1.0,...|[0.28784103408413...|[0.57146750036582...|       0.0|
|       0|     1|  male|62.0|    0|    0|   26.55|        C87|       S|     0.0|          0.0|(1,[0],[1.0])|(2,[0],[1.0])|[1.0,1.0,1.0,0.0,...|[0.80900617148030...|[0.69189768504454...|       0.0|
|       0|     2|  male|36.5|    0|    2|    26.0|         F2|       S|     0.0|          0.0|(1,[0],[1.0])|(2,[0],[1.0])|[2.0,1.0,1.0,0.0,...|[1.64899323916417...|[0.83875493739335...|       0.0|
|       0|     3|female| 2.0|    0|    1| 10.4625|         G6|       S|     1.0|          0.0|    (1,[],[])|(2,[0],[1.0])|[3.0,0.0,1.0,0.0,...|[-2.2209867082966...|[0.09788164256293...|       1.0|
|       0|     3|  male|25.0|    0|    0|    7.65|      F G73|       S|     0.0|          0.0|(1,[0],[1.0])|(2,[0],[1.0])|[3.0,1.0,1.0,0.0,...|[0.43482826964782...|[0.60702602333395...|       0.0|
|       1|     1|female|14.0|    1|    2|   120.0|    B96 B98|       S|     1.0|          0.0|    (1,[],[])|(2,[0],[1.0])|[1.0,0.0,1.0,0.0,...|[-2.3295766827875...|[0.08870287600709...|       1.0|
|       1|     1|female|15.0|    0|    1|211.3375|         B5|       S|     1.0|          0.0|    (1,[],[])|(2,[0],[1.0])|[1.0,0.0,1.0,0.0,...|[-2.8726940725420...|[0.05352001780967...|       1.0|
+--------+------+------+----+-----+-----+--------+-----------+--------+--------+-------------+-------------+-------------+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

In [54]:
# Show only the label and prediction
results.select('Survived', 'Prediction').show()

+--------+----------+
|Survived|Prediction|
+--------+----------+
|       0|       1.0|
|       0|       1.0|
|       0|       1.0|
|       0|       1.0|
|       0|       0.0|
|       0|       1.0|
|       0|       0.0|
|       0|       0.0|
|       0|       0.0|
|       0|       0.0|
|       0|       1.0|
|       0|       0.0|
|       0|       0.0|
|       0|       0.0|
|       0|       0.0|
|       0|       0.0|
|       0|       1.0|
|       0|       0.0|
|       1|       1.0|
|       1|       1.0|
+--------+----------+
only showing top 20 rows

In [56]:
# Let's Evaluate the regression model results pm the ROC
AUC = my_eval.evaluate(results) # AUC stands for Area Unter the Curve
AUC

0.75